@import "@fontsource/inter/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
  letter-spacing: 0.01em;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
